body{padding:20px;font:13px/18px arial,sans-serif;color:#333;}
.large{height:200px;width:300px;border:1px solid red;}
.medium{height:100px;width:200px;border:1px solid green;}
.holder1 {position: absolute; left: 10px; top: 100px; width: 30%;}
.holder2 {position: absolute; right: 10px; top: 100px; width: 30%;}
